<app-side-bar></app-side-bar>
<div class="card">
    <h2 class="font-size: 4rem">Aviso de privacidad</h2>
</div>

<div class="card">

    <p-table [value]="listAvisoPrivacidad" dataKey="id" [paginator]="true" [rows]="5" [first]="first"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped"
        [sortOrder]="-1" currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} datos"
        (onPage)="pageChange($event)" [rowsPerPageOptions]="[5, 10, 15]">

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-around">
                <div>
                    <h3 class="m-0">Lista aviso de privacidad</h3>
                </div>
                <div>
                    <i class="pi pi-file-plus cursor-pointer" style="font-size: 2rem"
                        (click)="getAvisoPrivacidad(0, false)"></i>
                </div>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%">
                <th style="width:50%" pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" />
                <th style="width:20%" pSortableColumn="fechaCreacion">fechaCreacion <p-sortIcon field="fechaCreacion" />
                <th class="align-content-center">Acciones</th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-documento>
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="documento" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="'pi pi-chevron-down' ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ documento.nombre }}</td>
                <td>{{ documento.fechaCreacion }}</td>
                <td>
                    <div class="flex justify-content-center flex-wrap">
                        <div class="px-2">
                            <p-button label="Editar" icon="pi pi-pen-to-square" [outlined]="true"
                                (onClick)="getAvisoPrivacidad(documento.id, false)" />
                        </div>
                        <div class="px-2">
                            <p-button label="Eliminar" icon="pi pi-trash" severity="danger" [outlined]="true"
                                (onClick)="confirmDeleteDocument($event, documento.id)" [disabled]="documento.archivos != ''"/>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>

        <!-- Contenido expandido -->
        <ng-template pTemplate="rowexpansion" let-documento>

            <tr>
                <td colspan="7">
                    <div class="p-1">
                        <div class="my-3">
                            <p-button label="Agregar Archivo" icon="pi pi-plus cursor-pointer" severity="primary"
                                [outlined]="true" (onClick)="openModalArchivo(documento.id)" />
                        </div>
                        <p-table [value]="documento.archivos" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width:50%">Nombre</th>
                                    <th style="width:25%">fechaCreacion</th>
                                    <th>Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-archivos>
                                <tr>
                                    <td>{{ archivos.nombreArchivo }}</td>
                                    <td>{{ archivos.fechaCreacion }}</td>
                                    <td>
                                        <div class="flex justify-content-center flex-wrap">
                                            <div class="px-2">
                                                <p-button label="" icon="pi pi-pen-to-square" [outlined]="true"
                                                    (onClick)="getAvisoPrivacidadArchivo(archivos.id, false)" />
                                            </div>
                                            <div class="px-2">
                                                <p-button label="" icon="pi pi-trash" severity="danger" [outlined]="true"
                                                    (onClick)="confirmDeleteDocumentArchivo($event, archivos.id)" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="6">Aún no hay archivos para este aviso de privacidad.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-confirmDialog />

    <!-- AGREGAR AVISO DE PRIVACIDAD -->
    <p-dialog [(visible)]="Dialog" [style]="{ width: '750px' }" header="Detalle de archivo" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">Nombre aviso de privacidad:</label>
                <input id="disabled-input" type="text" [(ngModel)]="this.createAvisoPrivacidadDto.nombreAvisoPrivacidad"
                    pInputText />
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cerrar" icon="pi pi-times" [text]="true" (onClick)="hideDialog('')" />
            <p-button label="Guardar" icon="pi pi-check" [text]="true" (onClick)="createAvisoPrivacidad()"
                [disabled]="isFormValid('')" />
        </ng-template>
    </p-dialog>

    <!-- AGREGAR ARCHIVO -->
    <p-dialog [(visible)]="DialogArchivo" [style]="{ width: '750px' }" header="Detalle de archivo" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">Nombre archivo para el aviso de privacidad:</label>
                <input id="disabled-input" type="text" [(ngModel)]="this.createAvisoPrivacidadArchivoDto.nombreArchivo"
                    pInputText />
            </div>

            <div>
                <label for="name">Archivo PDF:</label>
                <p-fileUpload mode="basic" chooseLabel="Selecciona tu archivo" chooseIcon="pi pi-upload" name="demo[]"
                    maxFileSize="20000000" accept=".pdf" (onSelect)="onFileSelect($event)" customUpload="true" />
            </div>

            <div *ngIf="fileUrl" class="mt-4">
                <iframe [src]="fileUrl" width="100%" height="900px"></iframe>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cerrar" icon="pi pi-times" [text]="true" (onClick)="hideDialog('archivo')" />
            <p-button label="Guardar" icon="pi pi-check" [text]="true" (onClick)="saveFile()"
                [disabled]="isFormValid('archivo')" />
        </ng-template>
    </p-dialog>

    <p-toast />
    <div *ngIf="spinner" class="overlay">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
    </div>

</div>